<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>文档标题</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="css/element-index.css"> -->
    <link rel="stylesheet" href="/css/layout.css">

    <!-- import Vue before Element -->
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <!-- import JavaScript -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/element-index.js"></script>
    <script src="js/pdfobject.js"></script>
    <script src="js/jquery.js" charset="UTF-8"></script>
    <script src="js/my_jquery_functions.js"></script>
    <style type="text/css">
        html,
        body,
        #app,
        .el-container {
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0px;
            /*外部间距也是如此设置*/
            margin: 0px;
            /*统一设置高度为100%*/
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">Home</el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">我的工作台</template>
                        <el-menu-item index="2-1">选项1</el-menu-item>
                        <el-menu-item index="2-2">选项2</el-menu-item>
                        <el-menu-item index="2-3">选项3</el-menu-item>
                        <el-submenu index="2-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="2-4-1">选项1</el-menu-item>
                            <el-menu-item index="2-4-2">选项2</el-menu-item>
                            <el-menu-item index="2-4-3">选项3</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="3" disabled>消息中心</el-menu-item>
                    <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                </el-menu>
                <div class="line"></div>
            </el-header>
            <el-container>
                <el-main>
                    <div id="pdf">
                        <!-- <embed src="http://localhost:8080/views/test.pdf" class="pdfobject" width="100%" height="1000" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"> -->
                    </div>

                </el-main>
                <el-aside width="300px" style="background-color: rgb(238, 241, 246)">
                    <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                        <el-submenu index="1" id="sideList">
                            <!-- <template slot="title"><i class="el-icon-s-data"></i>第1页</template>
                            <el-menu-item-group>
                                <el-menu-item index="1-1" id="1-1" class="table">选项1
                                    <div>
                                        <table border='1'>
                                            <tr>
                                                <td>Groups</td>
                                                <td>Foreign turnover (FFr bn.) </td>
                                                <td>% of Total Turnover </td>
                                            </tr>
                                            <tr>
                                                <td>Carrefour</td>
                                                <td>62.7</td>
                                                <td>40.5%</td>
                                            </tr>
                                            <tr>
                                                <td>Promodès</td>
                                                <td>37.0</td>
                                                <td>35.7%</td>
                                            </tr>
                                            <tr>
                                                <td>Auchan</td>
                                                <td>23.5</td>
                                                <td>19.5%</td>
                                            </tr>
                                            <tr>
                                                <td>Cora</td>
                                                <td>11.0</td>
                                                <td>24.0%</td>
                                            </tr>
                                            <tr>
                                                <td>Casino</td>
                                                <td>8.5</td>
                                                <td>11.5%</td>
                                            </tr>
                                            <tr>
                                                <td>Comptoirs Modernes </td>
                                                <td>2.0</td>
                                                <td>7.0%</td>
                                            </tr>
                                        </table>
                                    </div>
                                </el-menu-item>

                            </el-menu-item-group> -->
                        </el-submenu>
                    </el-menu>

                </el-aside>
            </el-container>
            <!-- <el-footer>Footer</el-footer> -->
        </el-container>
    </div>
</body>

<script>
    var url = decodeURI(window.location.href);
    console.log(url, typeof url);

    if (url.indexOf('?') != -1) {
        var str = url.split('?Info=')[1];
        console.log(str, typeof str);
        var obj = JSON.parse(str);
        console.log(obj);

        get_pdf(obj.pdfURL, "pdf", obj.name);

        var page_html = "<template slot='title'><i class=\"el-icon-s-data\"></i> CONTENT </template>";
        var front_quot = "<el-menu-item-group>";
        var item_html = "<el-menu-item index=\"1-1\" id=\"1-1\" class=\"table\" page=\"PAGENUM\" link=\"PDFLINK\"><el-col :span=\"21\"> CONTENT </el-col> <el-col :span=\"2\"> <el-button type=\"warning\" id=\"Download-Btn-id\" name=\"NAME\" size=\"mini\">下载</el-button></el-col></el-menu-item>";
        var back_quot = "</el-menu-item-group>";
        for (var i = 0; i < obj.pageNum; i++) {
            var table_names = obj.dist[i];
            //TODO: 加一页
            var k = i + 1;
            $("#sideList").append(page_html.replace("CONTENT", "第 " + k + " 页"));
            $("#sideList").append(front_quot);
            for (var j = 0; j < table_names.length; j++) {
                //TODO: 加一项
                $("#sideList").append(item_html.replace("CONTENT", "表 " + table_names[j]).replace("NAME", obj.saveName + "/" + table_names[j]).replace("PAGENUM", k).replace("PDFLINK", obj.pdfURL));

            }
            $("#sideList").append(back_quot);
        }

    } else {
        alert("URL ERROR!");
    }
</script>

<script>
    // get_pdf("http://localhost:8080/views/test.pdf", "pdf", "test");
</script>

<script>
    $(document).ready(function() {
        $(".table").click(function() {
            var pagenum = parseInt($(this).attr("page"));
            console.log(typeof pagenum);
            jump_pdf($(this).attr("link"), "pdf", "test", pagenum);
        });

        var SERVER = "106.75.237.104";
        $("#Download-Btn-id").click(function() {
            var request_url = "http://" + SERVER + ":5000/pdf/downloadXLSX/" + $(this).attr("name");
            var httpRequest = new XMLHttpRequest();
            httpRequest.open('GET', request_url, true);
            httpRequest.send();
        })
    });
</script>

<script>
    // $("#1-1").text("Hellooo")
</script>




<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex: '1',
                activeIndex2: '1'
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
</script>


</html>