<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>网页嵌入pdf浏览器</title>
</head>

<body>
    <div id="pdf">
        <iframe src="<c:url value='/resources/plugin/pdfJs/generic/web/viewer.html' />?file=<c:url value='/publicity/displayPDF.do' />" width="100%" height="800"></iframe>
    </div>

</body>


</html>